@page "/"

<PageTitle>Home</PageTitle>

<h1>Hra Koza, vlk a zelí</h1>
<br />

    Pravidla:<br />
<ul>
    <li>Ve hře jsou čtyři postavy: koza, vlk, zelí a převozník.</li>
    <li>Cílem je všechny bezpečně převést přes řeku s pomocí převozníka, který s sebou pokaždé může vzít pouze jednu postavu (kozu, vlka nebo zelí).</li>
    <li>Nesmíte nechat kozu a zelí nebo vlka a kozu samotné na jednom břehu bez převozníka, protože koza by snědla zelí a vlk by snědl kozu.</li>
    <li>Jakmile dopravíte všechny postavy na druhý břeh, vyhráli jste.</li>
</ul>


    Řešení:<br />
<ol>
    <li>Převozník převeze kozu na druhý břeh.</li>
    <li>Převozník se vrátí zpět sám.</li>
    <li>Převozník převeze vlka na druhý břeh.</li>
    <li>Převozník se vrátí zpět s kozou.</li>
    <li>Převozník převeze zelí na druhý břeh.</li>
    <li>Převozník se vrátí zpět sám.</li>
    <li>Převozník převeze kozu na druhý břeh.</li>
</ol>

